nav ul li {
    display: inline;
    text-decoration: none;
    padding-right: 1em;
}

#alert {
    color: red;
}

#comment {
    color: rgb(4, 71, 15);
}

#map {
    width: 100%;
    height: 500px;
}

#resultat {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 50px 0 0 70px;
}